@keyframes spin {
	0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg);}
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    
    .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
        .icon {
    
            animation: spin 1s linear infinite;
        }
    }
}